﻿<form asp-action="Create" asp-controller="Stream" method="post">
    <input type="text" name="titreStream"/>
    <input type="datetime-local" name="dateDebut"/>

    <button type="submit">Ajouter</button>


</form>


@foreach (var item in Model)
{
    <div>@item.Name</div>
}