﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Filtre" asp-controller="Streamer" method="post">

    <select class="form-select" name="Option">
        <option name="Tous" value="1"> Tous </option>
        <option name="Actif" value="2">Seulement les actifs </option>
    </select>
    <button type="submit" class="btn btn-primary btn-lg mt-3" style="background-color: #b18aec;">Voir</button>

</form>


@foreach (var item in Model)
{
    <div class="card bg-secondary mt-3">
        <div class="card-body">
            <h5 style="font-weight:bold" class="card-title">Viewer: </h5>
            <p class="card-text">@item.Pseudo</p>
        </div>
    </div>
}

@*<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choix affichage
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  asp-area="" asp-controller="Personne" asp-action="Filtre1"> Tous</a>
        <a class="dropdown-item"  asp-area="" asp-controller="Personne" asp-action="Filtre2"> Actif</a>
    </div>
</div>*@