﻿<!-- Formulaire de création de stream -->
<form asp-action="Create" asp-controller="Stream" method="post" class="form-inline">
    <div class="form-group">
        <label for="titreStream" class="mr-2">Titre :</label>
        <input type="text" name="titreStream" class="form-control mr-2"/>
    </div>
    <div class="form-group">
        <label for="dateDebut" class="mr-2">Date de début :</label>
        <input type="datetime-local" name="dateDebut" class="form-control mr-2"/>
    </div>
    <button type="submit" class="btn btn-primary btn-lg mt-3" style="background-color: #b18aec;">Ajouter</button>
</form>

<!-- Affichage des streams -->
@foreach (var item in Model)
{
    if(@item.Titre != null)
    {
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">@item.Titre</h5>
                <p class="card-text">@item.DateDebut</p>
            </div>
        </div>
    }
}