﻿<table class="table" style="color : #B18AEC; font-display:" Roobert","Inter","Helvetica Neue",Helvetica,Arial,sans-serif;">
    <thead>
        <tr style="font-weight:bold">
            <th scope="row">Prenom</th>
            <th scope="row">Pseudo</th>
            <th scope="row">Email</th>
            <th scope="row">Image</th>
            <th scope="row">IsConnected</th>
        </tr>
    </thead>
    
@foreach(var item in Model)
{
        <tr style="color : white">
            <td>@item.Prenom</td>
            <td>@item.Pseudo</td>
            <td>@item.Email</td>
            <td><img src="@item.Image" width="50px" height="50px"></td>
            <td>@item.IsConnected</td>
        </tr>
}
    
</table>