﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a style="background-color: #b18aec" type="button" class="btn btn-dark" asp-area="" asp-controller="Stream" asp-action="Create">Nouveau Stream !</a>
</div>
