﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TWITCH REVOLUTION 3000</h1>
    <h1>THE NEW WEBSITE WITCH WILL REVOLUTIONNER LE MONDE DE L'UNIVERS DU GAMING</a>.</h1>

    <a style="background-color: #b18aec" type="button" class="btn btn-dark" asp-area="" asp-controller="Personne" asp-action="List">LISTE</a>
    <a style="background-color: #b18aec" type="button" class="btn btn-dark" asp-area="" asp-controller="Streamer" asp-action="Filtre">FILTRE</a>
</div>
